<div id="<%= activity.activity_type.name %><%= activity.specific.id %>" class="activity">
  <%= activity.description %>
  <div class="pull-xs-right actions">
    <%= link_to edit_dashboard_activity_path(activity.activity_type.name.tableize, activity.specific), remote: true do %>
    <%= fa_icon "edit" %>
    <% end %>
    <%= link_to dashboard_activity_path(activity.activity_type.name.tableize, activity.specific), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <%= fa_icon "trash" %>
    <% end %>
  </div>
</div>
