
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <% @activity_type.activity_fields.each do |field| %>
      <th><%= field.to_s.humanize.capitalize %></th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
    <tr>
      <% @activity_type.activity_fields.each do |field| %>
      <td><%= activity.send(field) %></td>
      <% end %>
      <td><%= link_to edit_activity_type_path(activity), remote: true do %>
        <%= fa_icon "edit" %>
        <% end %>
      </td>
      <td>
        <%= link_to activity_type_path(activity), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= fa_icon "trash" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-xs-right"><%= paginate @activities %></div>
