

<ul class="pagination">
  <li class="page-item<%= @activities.current_page == 1 ? " disabled" : "" %>">
    <a class="page-link" href="?page=<%= @activities.current_page - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a>
  </li>
  <% (1..@activities.total_pages).each do |page_num| %>
  <li class="page-item<%= @activities.current_page == page_num ? " active" : "" %>"><a class="page-link" href="?page=<%= page_num %>"><%= page_num %></a></li>
  <% end %>
  <li class="page-item<%= @activities.current_page == @activities.total_pages ? " disabled" : "" %>">
    <a class="page-link" href="?page=<%= @activities.current_page + 1 %>" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
  </li>
</ul>
