<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wdydt</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="container">
        <a class="navbar-brand" href="http://andrewbates.co/"><%= image_tag("logo.png") %></a>
        <ul class="nav navbar-nav hidden-sm-down">
          <li class="nav-item <%= active_class(root_path) %>">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsing-sidebar">&#9776;</button>
        <% if user_signed_in? %>
        <div class="nav navbar-nav pull-right hidden-sm-down dropdown nav-dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.gravatar_url %><%= current_user.name %><%= fa_icon "down-open" %></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <%= link_to 'Profile', edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'Customize', activity_types_path, class: "dropdown-item" %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
        <% else %>
        <div class="nav navbar-nav pull-right hidden-sm-down"><%= link_to 'Login', new_user_session_path, class: "nav-link" %></div>
        <% end %>
      </div>
      <div class="container">
        <div id="collapsing-sidebar" class="collapse navbar-collapse">
          <ul class="nav navmenu">
            <li class="nav-item"><%= link_to 'Home', root_path %></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Profile', edit_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Customize', activity_types_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            <% else %>
            <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% unless flash.empty? %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <% flash.each do |f| %>
          <%= flash_tag f %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div id="content-pane"><%= content_for?(:content) ? yield(:content) : yield %></div>
  </body>
</html>
