<% content_for :content do %>
<div class="container">
<%= content_for?(:authenticated_content) ? yield(:authenticated_content) : yield %>
</div>
<ul class="nav nav-tabs navbar-fixed-bottom task-tabs">
  <li class="nav-item"><%= link_to "Dashboard", root_path, class: "nav-link" %></li>
  <% ActivityType.all.each do |activity_type| %>
    <li class="nav-item"><%= link_to activity_type.plural_name, activities_path(activity_type.table_name), class: "nav-link" %></li>
  <% end %>
  <li class="nav-item"><%= link_to "foo", class: "nav-link" do %><%= fa_icon "plus" %><% end %></li>
</ul>
<% end %>
<%= render template: "layouts/application" %>
